/HomeWork/Assignment_2/Gaddis_7thEd_Chap3_Prob4_RainfallAvg/build/
/HomeWork/Assignment_2/Gaddis_7thEd_Chap3_Prob4_RainfallAvg/dist/
/HomeWork/Assignment_2/Gaddis_8thEd_Chap3_Prob12_TempConv/build/
/HomeWork/Assignment_2/Gaddis_8thEd_Chap3_Prob12_TempConv/dist/
/HomeWork/Assignment_3/Savitch_9thEd_Chap3Rob6_Fibonacci_Crud/build/
/HomeWork/Assignment_3/Savitch_9thEd_Chap3Rob6_Fibonacci_Crud/dist/
/HomeWork/Assignment_3/Savitch_9thEd_Chp3_Prob3_RomanConversion/build/
/HomeWork/Assignment_3/Savitch_9thEd_Chp3_Prob3_RomanConversion/dist/
/Class/Grade_switch/build/
/Class/Grade_switch/dist/
/Class/TruthTable/dist/
/Class/TruthTable/build/
/HomeWork/Assignment_4/Gaddis_7thEd_Chp5_Prob1_SumofNumbers/build/
/HomeWork/Assignment_4/Gaddis_7thEd_Chp5_Prob1_SumofNumbers/dist/
/Class/Gaddis_7thEd_Chap5_Prob4_CaloriesBurnedWalking/build/
/Class/Gaddis_7thEd_Chap5_Prob4_CaloriesBurnedWalking/dist/
/Class/Savitch_8thEd_Chap4_Prob2/build/
/Class/Savitch_8thEd_Chap4_Prob2/dist/
/Class/Gaddis_7thEd_Chap5_Prob16_SavingsAccountBalance/build/
/Class/Gaddis_7thEd_Chap5_Prob16_SavingsAccountBalance/dist/
/HomeWork/Assignment_4/Gaddis_7thEd_Chap5_Prob16_SavingsAccountBalance/build/
/HomeWork/Assignment_4/Gaddis_7thEd_Chap5_Prob16_SavingsAccountBalance/dist/
/HomeWork/Assignment_4/Gaddis_7thEd_Chap5_Prob3_OceanRise/dist/
/HomeWork/Assignment_4/Gaddis_7thEd_Chap5_Prob3_OceanRise/build/
/HomeWork/Assignment_4/Gaddis_7thEd_Chap5_Prob8_MathTutorMenu/dist/
/HomeWork/Assignment_4/Savitch_9thEd_Chap4_Prob4/dist/
/HomeWork/Assignment_4/Savitch_9thEd_Chap4_Prob4/build/
/Class/EXample/build/
/Class/EXample/dist/
/HomeWork/Assignment_3/Ex2/build/
/HomeWork/Assignment_3/Ex2/dist/
/Class/MidTerm_Prob5/build/
/Class/MidTerm_Prob5/dist/
/Class/MidTerm_Prob1/build/
/Class/MidTerm_Prob1/dist/
/Class/MidTerm_Prob6/build/
/Class/MidTerm_Prob6/dist/
/Class/MidTerm_Menu1/build/
/Class/MidTerm_Menu1/dist/
/Class/Project_V1/build/
/Class/Project_V1/dist/
/Class/Crap_v1/dist/
/HomeWork/Assignment_5/Gaddis_7thEd_Chp6_Prob1_Markup/build/
/HomeWork/Assignment_5/Gaddis_7thEd_Chp6_Prob1_Markup/dist/
/Class/Gaddis_7thEd_Chp6_Prob3_WinningDiv/build/
/Class/Gaddis_7thEd_Chp6_Prob3_WinningDiv/dist/