/HomeWork/Assignment_2/Gaddis_7thEd_Chap3_Prob4_RainfallAvg/build/
/HomeWork/Assignment_2/Gaddis_7thEd_Chap3_Prob4_RainfallAvg/dist/
/HomeWork/Assignment_2/Gaddis_8thEd_Chap3_Prob12_TempConv/build/
/HomeWork/Assignment_2/Gaddis_8thEd_Chap3_Prob12_TempConv/dist/