/HomeWork/Assignment_2/Gaddis_7thEd_Chap3_Prob4_RainfallAvg/build/
/HomeWork/Assignment_2/Gaddis_7thEd_Chap3_Prob4_RainfallAvg/dist/
/HomeWork/Assignment_2/Gaddis_8thEd_Chap3_Prob12_TempConv/build/
/HomeWork/Assignment_2/Gaddis_8thEd_Chap3_Prob12_TempConv/dist/
/HomeWork/Assignment_3/Savitch_9thEd_Chap3Rob6_Fibonacci_Crud/build/
/HomeWork/Assignment_3/Savitch_9thEd_Chap3Rob6_Fibonacci_Crud/dist/
/HomeWork/Assignment_3/Savitch_9thEd_Chp3_Prob3_RomanConversion/build/
/HomeWork/Assignment_3/Savitch_9thEd_Chp3_Prob3_RomanConversion/dist/
/Class/Grade_switch/build/
/Class/Grade_switch/dist/
/Class/TruthTable/dist/
/Class/TruthTable/build/